.mat-icon {
  margin-right: 8px;
  vertical-align: middle;
}

.nav-caption {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}

a[mat-list-item] {
  height: 48px;
  display: flex;
  align-items: center;
} 